{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet" href="{% static 'course/css/index.css' %}">
    <script src="{% static 'course/js/verification.js' %}"></script>
    <script src="{% static 'course/js/index.js' %}"></script>
</head>
<body>

<div id="main">
    <div id="background">
        <img src="{% static 'course/img/index/download.jpg' %}">
    </div>

    <div id="login">
        <h1>统一身份认证账号登陆</h1>
        <hr>
        <img src="{% static 'course/img/index/hustpass.png' %}" alt="">

        <form action="/select%1" method="post">
            {% csrf_token %}
            <label for="username">账号</label>
            <input type="text" name="username" id="username">
            <br>
            <label for="password">密码</label>
            <input type="password" name="password" id="password">
            <br>
            <input type="submit" value="确定" id="submit">
        </form>


        <div id="verification">
            <div id="v_container" style="width: 200px;height: 50px;">
            </div>
            <input type="text" id="code_input" value="" placeholder="请输入验证码"/>


        </div>

        <div id="footer">
        </div>
    </div>

</div>

</body>
</html>